**POSTGRES NOTES**

\?  ===> Help on the command line
\l  ===> lists all dbs

Create database --> not case sensitive
convention upper case

CREATE DATABASE <name>;

eg.
CREATE DATABASE testdb;

# this output is shown if above command is executed
CREATE DATABASE

connect to a database

\c <name>

eg.
\c testdb

# this output is shown if above command is executed
test=#

delete a database

DROP DATABASE <name>;

eg.
DROP DATABASE testdb;

# this output is shown if above command is executed
DROP DATABASE

create a table

CREATE TABLE <name> (
    <column1> <datatype>,
    <column2> <datatype>,
    <column3> <datatype>
);

eg.
CREATE TABLE testtable (
    id serial PRIMARY KEY,
    name varchar(255) NOT NULL,
    data JSONB
);

# this output is shown if above command is executed
CREATE TABLE

# testtable data

id | name | data

 CREATE TABLE person(
 id INT,
 first_name VARCHAR(50),
 last_name VARCHAR(50),
 gender VARCHAR(7),
 date_of_birth DATE);

# output 
CREATE TABLE

\d person

# output
Table "public.person"
Column     | Type                  | Modifiers
-----------+-----------------------+-------------
id         | integer               |
first_name | character varying(50) |
last_name  | character varying(50) |

drop table

DROP TABLE <name>;

eg.
DROP TABLE testtable;

# this output is shown if above command is executed
DROP TABLE

 CREATE TABLE person(
 id BIGSERIAL INT PRIMARY KEY,
 first_name VARCHAR(50) NOT NULL,
 last_name VARCHAR(50) NOT NULL,
 gender VARCHAR(7) NOT NULL,
 date_of_birth DATE NOT NULL);

# output
CREATE TABLE

\d person

<!-- # output
Table "public.person"
Column     | Type                  | Modifiers
-----------+-----------------------+-------------
id         | bigint                | not null default nextval('person_id_seq'::regclass)
first_name | character varying(50) | not null
last_name  | character varying(50) |
 -->

In [ ]:
-- Insert data to the table

INSERT INTO <table_name> (<column1>, <column2>, <column3>)
VALUES (<value1>, <value2>, <value3>);
-- eg.

INSERT INTO person (first_name, last_name, gender, date_of_birth)
VALUES ('John','Wick','Male',date '2000-04-27');

\i '/Users/MY\ PC/Desktop/Thrillophilia/postgres/person.sql'\q

\dt

#output
shows only tables

BIGSERIAL 
A sequence generator that generates 64-bit signed integer values. The sequence is created implicitly when the column type is declared as BIGSERIAL. The sequence is owned by the column, which means that when the owning table is dropped, so is the sequence. The sequence is created in the same schema as the table, has the same name as the table, and has column name as its default name. The sequence can be accessed directly with the last_value function.

**EXTREMELY IMPORTANT**

\i '/Users/MY\ PC/Desktop/Thrillophilia/postgres/person.sql'

To RUN SQL CODE FROM A FILE ON PSQL

READ TABLES

SELECT * FROM PERSON;
SELECT first_name FROM PERSON;
SELECT first_name, last_name FROM PERSON;

In [ ]:
-- SORT TABLES

SELECT * FROM PERSON ORDER BY country_of_origin;
This by default is ascending, can explicity specify by ASC
SELECT * FROM PERSON ORDER BY country_of_origin DESC;

DISTINCT

to get only unique values by removing duplicates

SELECT DISTINCT country_of_origin FROM person ORDER BY country_of_origin;

WHERE
SELECT * FROM person WHERE Gender = 'Female';

WHERE AND
SELECT * FROM person WHERE Gender = 'Female' AND country_of_origin = 'Poland';

WHERE OR
SELECT * FROM person WHERE Gender = 'Female' AND (country_of_origin = 'Poland' OR country_of_origin = 'Lebanon');

COMPARISON OPERATOR

SELECT * FROM person WHERE date_of_birth > '1990-01-01';

SELECT * FROM person WHERE date_of_birth > '1990-01-01' AND date_of_birth < '1995-01-01';

SELECT * FROM person WHERE date_of_birth BETWEEN '1990-01-01' AND '1995-01-01';

SELECT * FROM person WHERE date_of_birth NOT BETWEEN '1990-01-01' AND '1995-01-01';

SELECT * FROM person WHERE first_name LIKE 'A%';

SELECT * FROM person WHERE first_name LIKE '%a';

SELECT * FROM person WHERE first_name LIKE '%a%';

SELECT * FROM person WHERE first_name LIKE '_a%';

SELECT * FROM person WHERE first_name LIKE 'A__%';

SELECT * FROM person WHERE first_name LIKE 'A%a';

SELECT 1=1;

# output
    ?column?
-------------
    t
    (1 row)

SELECT 1=0;
# output
    ?column?
-------------
    f
    (1 row)

SELECT 1<>1;
# output
    ?column?
-------------
    f
    (1 row)

SELECT 1<>0;
# output
    ?column?
-------------
    t
    (1 row)

limit 
limits the output to the given limit

SELECT * FROM person LIMIT 5;

offset
offsets the output by the given number i.e shows the outputs after given offset in this case from 6-10

SELECT * FROM person LIMIT 5 OFFSET 5;

Fetch
Fetches the given number of rows after the given offset

SELECT * FROM person OFFSET 10 FETCH FIRST 5 ROWS ONLY;

between
selects the rows between the given range

SELECT * FROM person WHERE date_of_birth BETWEEN '1990-01-01' AND '1995-01-01';

Like and iLike
selects the rows that match the given pattern

SELECT * FROM person WHERE first_name LIKE 'A%';

SELECT * FROM person WHERE first_name ILIKE 'a%';

GROUP BY
groups the rows by the given column

SELECT country_of_origin, COUNT(*) FROM person GROUP BY country_of_origin;

ORDER BY
orders the rows by the given column

SELECT * FROM person ORDER BY first_name;

MAX
returns the maximum value of the given column

SELECT MAX(date_of_birth) FROM person;

MIN
returns the minimum value of the given column

SELECT MIN(date_of_birth) FROM person;

MAX with GROUP BY

SELECT country_of_origin, MAX(date_of_birth) FROM person GROUP BY country_of_origin;
SELECT first_name, country_of_origin, MAX(date_of_birth) FROM person GROUP BY first_name,country_of_origin;

SUM
returns the sum of the given column

SELECT SUM(id) FROM person;

ALIAS KEYWORD
used to give a temporary name to a column or table

SELECT first_name AS "First Name", last_name AS "Last Name" FROM person;

COALESCE
returns the first non-null value

SELECT COALESCE(NULL, 'Hello', 'World');

COALESCE WITH DATA SET

SELECT first_name, COALESCE(last_name, 'No Last Name') FROM person;

NULLIF
returns null if the two values are equal else returns the first value

SELECT NULLIF('Hello', 'Hello');